<div class="container">
  <div style="text-align:center">
    <p class="h1">
      Google Maps in Angular 6
    </p>
  </div>
  <br>

  <div class="row">
	<h3>
      <p>Longitude: {{currentLong}}</p>
      <p>Latitude: {{currentLat}}</p>
	  </h3>
  </div>
  <br>

  <div class="row">
    <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
    <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
    <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
	<button class="btn btn-primary" (click)="onrepeat()">Find me</button>
    
  </div>
  <br>
  <div class="row" >
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <div #gmap style="width:100%;height:400px" ></div>
        </h3>
      </div>
    </div>
  </div>
</div>